* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v35_134 {
  width: 100%;
  height: 1029px;
  background: url("../images/v35_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_99 {
  width: 128px;
  color: rgba(32,29,29,0.9800000190734863);
  position: absolute;
  top: 783px;
  left: 293px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_100 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v35_101 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v35_102 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 112px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v35_104 {
  width: 100%;
  height: 24px;
  background: rgba(242,156,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_105 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 646px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v35_106 {
  width: 704px;
  height: 49px;
  background: rgba(255,244,229,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 365px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v35_109 {
  width: 946px;
  height: 248px;
  background: rgba(251,184,107,1);
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 244px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.v35_110 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 287px;
  left: 630px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v35_111 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 696px;
  left: 578px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v35_112 {
  width: 773px;
  height: 253px;
  background: rgba(255,244,229,1);
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 334px;
  overflow: hidden;
}
.v35_113 {
  width: 704px;
  height: 59px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 365px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v35_115 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 918px;
  left: 350px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_116 {
  width: 772px;
  height: 4px;
  background: url("../images/v35_116.png");
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 334px;
  border: 1px solid rgba(0,0,0,1);
}
.v35_117 {
  width: 72px;
  height: 33px;
  background: rgba(251,184,107,1);
  opacity: 1;
  position: absolute;
  top: 495px;
  left: 997px;
  border-radius: 50%;
}
.v35_118 {
  width: 72px;
  height: 33px;
  background: rgba(251,184,107,1);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 997px;
  border-radius: 50%;
}
.v35_119 {
  width: 100%;
  height: 353px;
  background: rgba(255,244,229,1);
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 193px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
.v35_120 {
  width: 100%;
  background: url("../images/v35_120.png");
  opacity: 1;
  position: absolute;
  top: 730px;
  left: 193px;
  border: 3px solid rgba(255,255,255,1);
}
.v35_121 {
  width: 986px;
  background: url("../images/v35_121.png");
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 227px;
  border: 3px solid rgba(255,255,255,1);
}
.v35_122 {
  width: 914px;
  height: 91px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 262px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v35_123 {
  width: 109px;
  color: rgba(52,217,58,1);
  position: absolute;
  top: 802px;
  left: 997px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v35_124 {
  width: 914px;
  height: 91px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 883px;
  left: 262px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v35_125 {
  width: 109px;
  color: rgba(217,52,52,1);
  position: absolute;
  top: 932px;
  left: 999px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v35_126 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 921px;
  left: 362px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_127 {
  width: 39px;
  height: 21px;
  background: rgba(52,217,58,1);
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 941px;
}
.v35_128 {
  width: 39px;
  height: 22px;
  background: rgba(217,52,52,1);
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 940px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v35_131 {
  width: 914px;
  height: 22px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 1001px;
  left: 263px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v35_132 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 807px;
  left: 362px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v35_133 {
  width: 233px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 695px;
  left: 602px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
