<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Experts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>

    {% load static %}

    <script src="{% static 'stock/js/d3pie.js' %}"></script>
    <script src="{% static 'stock/js/canvasjs.js' %}"></script>
    <script src="{% static 'stock/js/canvasjs.min.js' %}"></script>
    <script src="{% static 'stock/js/jquery.csv.js' %}"></script>

    <script type="text/javascript">
        mainCountArr = [];
        idtoExpertName = [];
        mainarr = [];
        topBuys = [];
        topSells = [];
        topHolds = [];
        historicalRatings = [];
        function fetchExpertNames() {
            $.ajax({
                type: "GET",
                url: "{% static 'stock/csvs/experts1.csv' %}",
                dataType: "text",
                success: function(data) {
                    var result = $.csv.toArrays(data);
                    result.splice(0, 1);
                    result.forEach(function(res) {
                         var tokens = res[0].split("\t");
                         id = tokens[0];
                         name = tokens[1];
                         idtoExpertName.push({id:id, name:name});
                    });
                    fetchOverallCounts();
                }
             });
        }

        function fetchOverallCounts() {
        $.ajax({
            type: "GET",
            url: "{% static 'stock/csvs/dummy_comments.csv' %}",
            dataType: "text",
            success: function(data) {
                var result = $.csv.toArrays(data);
                alert("Hi")
                result.splice(0, 1);
                result.forEach(function(res) {
                    var tokens = res[0].split("\t");
                         id = tokens[0];
                         comments = tokens[1];
                         company_code = tokens[2];
                         sentiment = tokens[3];
                         target = tokens[4];
                         //Populate top comments
                         var foundComment = $.grep(mainCountArr, function(e){ return e.id == id; });
                         if (foundComment.length > 0) {
                             foundComment[0].value ++;
                         } else {
                             var expert = $.grep(idtoExpertName, function(e){ return e.id == id; });
                             if (expert.length > 0) {
                                 mainCountArr.push({id:id, label:expert[0].name, value:1});
                             }
                         }

                         //Populate top buys
                         var foundBuy = $.grep(topBuys, function(e){ return e.label == company_code; });
                         if (foundBuy.length > 0 && sentiment == "buy") {
                             foundBuy[0].value ++;
                         } else if (sentiment == "buy"){
                             topBuys.push({id:id, label:company_code, comments:comments, target:target, value:1});
                         }

                        //Populate top sells
                         var foundSell = $.grep(topSells, function(e){ return e.label == company_code; });
                         if (foundSell.length > 0 && sentiment == "sell") {
                             foundSell[0].value ++;
                         } else if (sentiment == "sell"){
                             topSells.push({id:id, label:company_code, comments:comments, target:target, value:1});
                         }

                        //Populate top holds
                         var foundHold = $.grep(topHolds, function(e){ return e.label == company_code; });
                         if (foundHold.length > 0 && sentiment == "hold") {
                             foundHold[0].value ++;
                         } else if (sentiment == "hold"){
                             topHolds.push({id:id, label:company_code, comments:comments, target:target, value:1});
                         }

                         mainarr.push({id:id, comments:comments, company_code:company_code, sentiment:sentiment, target:target});
                    });

                var pie = new d3pie("pieChart", {
                    "header": {
                        "title": {
                            "text": "Today's comments",
                            "fontSize": 22,
                            "font": "verdana"
                        },
                        "titleSubtitlePadding": 12
                    },
                    "size": {
                        "canvasHeight": 400,
                        "canvasWidth": 400,
                        "pieInnerRadius": "12%",
                        "pieOuterRadius": "88%"
                    },
                    "data": {
                        "content": mainCountArr
                    },
                    "labels": {
                        "outer": {
                            "pieDistance": 32
                        },
                        "inner": {
                            "format": "value"
                        },
                        "mainLabel": {
                            "font": "verdana"
                        },
                        "percentage": {
                            "color": "#e1e1e1",
                            "font": "verdana",
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#e1e1e1",
                            "font": "verdana"
                        },
                        "lines": {
                            "enabled": true,
                            "color": "#cccccc"
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "effect": "linear",
                            "speed": 400,
                            "size": 8
                        }
                    },
                    callbacks: {
                        onClickSegment: function(a) {
                            document.getElementById("expertTable").innerHTML = "";
                            document.getElementById("tableCaption").innerHTML = "Today's comments";
                            var expert = $.grep(mainarr, function(e){ return e.id == a.data.id; });
                            var html = "<div class='table-responsive'>"
                            html+= "<table class='table table-striped'><thead><tr><th>Expert</th><th>Comments</th><th>Target</th></tr></thead>";
                            html+= "<tbody>"
                            expert.forEach(function(ex) {
                                var exp = $.grep(idtoExpertName, function(e){ return e.id == ex.id; });
                                html+= "<tr><td>" + exp[0].name + "</td>";
                                html+= "<td>" + ex.comments + "</td>";
                                html+= "<td>" + ex.target + "</td></tr>";
                            });
                            html+= "</table>"
                            $("#expertTable").append(html);
                        }
                    }
                });

                fetchTopBuyCounts();
                fetchTopSellCounts();
                fetchTopHoldCounts();
            }
         });
    }

        function fetchTopBuyCounts() {
        var pie = new d3pie("topBuys", {
            "header": {
                "title": {
                    "text": "Top Buys",
                    "fontSize": 22,
                    "font": "verdana"
                },
                "titleSubtitlePadding": 12
            },
            "size": {
                "canvasHeight": 400,
                "canvasWidth": 400,
                "pieInnerRadius": "12%",
                "pieOuterRadius": "88%"
            },
            "data": {
                "content": topBuys
            },
            "labels": {
                "outer": {
                    "pieDistance": 32
                },
                "inner": {
                    "format": "value"
                },
                "mainLabel": {
                    "font": "verdana"
                },
                "percentage": {
                    "color": "#e1e1e1",
                    "font": "verdana",
                    "decimalPlaces": 0
                },
                "value": {
                    "color": "#e1e1e1",
                    "font": "verdana"
                },
                "lines": {
                    "enabled": true,
                    "color": "#cccccc"
                },
                "truncation": {
                    "enabled": true
                }
            },
            "effects": {
                "pullOutSegmentOnClick": {
                    "effect": "linear",
                    "speed": 400,
                    "size": 8
                }
            },
            callbacks: {
                onClickSegment: function(a) {
                    document.getElementById("expertTable").innerHTML = "";
                    document.getElementById("tableCaption").innerHTML = "Top Buys";
                    var scrip = $.grep(topBuys, function(e){ return e.label == a.data.label; });
                    alert(scrip)
                    var html = "<div class='table-responsive'>"
                    html+= "<table class='table table-striped'><thead><tr><th>Expert</th><th>Comments</th><th>Target</th></tr></thead>";
                    html+= "<tbody>"
                    scrip.forEach(function(ex) {
                        var exp = $.grep(idtoExpertName, function(e){ return e.id == ex.id; });
                        //if (ex.label = a.data.label) {
                            var url='{% url 'experts'%}';
                            url=url+'?exp_id='+exp[0].id;
                            url=url+'&scrip='+ex.label;
                            html+= "<tr><td>" + "<a href='"+url+"' target='_blank'>" + exp[0].name + "</td>";
                            html+= "<td>" + ex.comments + "</td>";
                            html+= "<td>" + ex.target + "</td></tr>";
                        //}
                    });
                    html+= "</tbody></table>"
                    $("#expertTable").append(html);
                }
            }
        });
    }

        function fetchTopSellCounts() {
         var pie = new d3pie("topSells", {
                "header": {
                    "title": {
                        "text": "Top Sells",
                        "fontSize": 22,
                        "font": "verdana"
                    },
                    "titleSubtitlePadding": 12
                },
                "size": {
                    "canvasHeight": 400,
                    "canvasWidth": 400,
                    "pieInnerRadius": "12%",
                    "pieOuterRadius": "88%"
                },
                "data": {
                    "content": topSells
                },
                "labels": {
                    "outer": {
                        "pieDistance": 32
                    },
                    "inner": {
                        "format": "value"
                    },
                    "mainLabel": {
                        "font": "verdana"
                    },
                    "percentage": {
                        "color": "#e1e1e1",
                        "font": "verdana",
                        "decimalPlaces": 0
                    },
                    "value": {
                        "color": "#e1e1e1",
                        "font": "verdana"
                    },
                    "lines": {
                        "enabled": true,
                        "color": "#cccccc"
                    },
                    "truncation": {
                        "enabled": true
                    }
                },
                "effects": {
                    "pullOutSegmentOnClick": {
                        "effect": "linear",
                        "speed": 400,
                        "size": 8
                    }
                },
                callbacks: {
                    onClickSegment: function(a) {
                        document.getElementById("expertTable").innerHTML = "";
                        document.getElementById("tableCaption").innerHTML = "Top Sells";
                        var scrip = $.grep(topSells, function(e){ return e.label == a.data.label; });
                        var html = "<div class='table-responsive'>"
                        html+= "<table class='table table-striped'><thead><tr><th>Expert</th><th>Comments</th><th>Target</th></tr></thead>";
                        html+= "<tbody>"
                        scrip.forEach(function(ex) {
                            var exp = $.grep(idtoExpertName, function(e){ return e.id == ex.id; });
                            if (ex.label = a.data.label) {
                                var url='{% url 'experts'%}';
                                url=url+'?exp_id='+exp[0].id;
                                url=url+'&scrip='+ex.label;
                                html+= "<tr><td>" + "<a href='"+url+"' target='_blank'>" + exp[0].name + "</td>";
                                html+= "<td>" + ex.comments + "</td>";
                                html+= "<td>" + ex.target + "</td></tr>";
                            }
                        });
                        html+= "</tbody></table>"
                        $("#expertTable").append(html);
                    }
                }
            });
    }

        function fetchTopHoldCounts() {
         var pie = new d3pie("topHolds", {
                "header": {
                    "title": {
                        "text": "Top Holds",
                        "fontSize": 22,
                        "font": "verdana"
                    },
                    "titleSubtitlePadding": 12
                },
                "size": {
                    "canvasHeight": 400,
                    "canvasWidth": 400,
                    "pieInnerRadius": "12%",
                    "pieOuterRadius": "88%"
                },
                "data": {
                    "content": topHolds
                },
                "labels": {
                    "outer": {
                        "pieDistance": 32
                    },
                    "inner": {
                        "format": "value"
                    },
                    "mainLabel": {
                        "font": "verdana"
                    },
                    "percentage": {
                        "color": "#e1e1e1",
                        "font": "verdana",
                        "decimalPlaces": 0
                    },
                    "value": {
                        "color": "#e1e1e1",
                        "font": "verdana"
                    },
                    "lines": {
                        "enabled": true,
                        "color": "#cccccc"
                    },
                    "truncation": {
                        "enabled": true
                    }
                },
                "effects": {
                    "pullOutSegmentOnClick": {
                        "effect": "linear",
                        "speed": 400,
                        "size": 8
                    }
                },
                callbacks: {
                    onClickSegment: function(a) {
                        document.getElementById("expertTable").innerHTML = "";
                        document.getElementById("tableCaption").innerHTML = "Top Sells";
                        var scrip = $.grep(topHolds, function(e){ return e.label == a.data.label; });
                        var html = "<div class='table-responsive'>"
                        html+= "<table class='table table-striped'><thead><tr><th>Expert</th><th>Comments</th><th>Target</th></tr></thead>";
                        html+= "<tbody>"

                        scrip.forEach(function(ex) {
                            var exp = $.grep(idtoExpertName, function(e){ return e.id == ex.id; });
                            if (ex.label = a.data.label) {
                                var url='{% url 'experts'%}';
                                url=url+'?exp_id='+exp[0].id;
                                url=url+'&scrip='+ex.label;
                                html+= "<tr><td>" + "<a href='"+url+"' target='_blank'>" + exp[0].name + "</td>";
                                html+= "<td>" + ex.comments + "</td>";
                                html+= "<td>" + ex.target + "</td></tr>";
                            }
                        });
                        html+= "</tbody></table>"
                        $("#expertTable").append(html);
                    }
                }
            });
    }

        function searchScrip() {
        var search = document.getElementById("scripSearch").value;
        if (search != "") {
            var input = {buy:0, sell:0, hold:0};
            var buyCount=0, sellCount=0, holdCount=0;
            mainarr.forEach(function(e) {
                if (e.sentiment == "buy" && e.company_code == search) {
                    buyCount++;
                } else if(e.sentiment == "sell" && e.company_code == search) {
                    sellCount++;
                } else  if(e.sentiment == "hold" && e.company_code == search) {
                    holdCount++;
                }
            });

            var data = [{y:buyCount, label:"Buy"}, {y:sellCount, label:"Sell"}, {y:holdCount, label:"Hold"}];

            var chart = new CanvasJS.Chart("chartContainer",
            {
              title:{
                text: "Stock Calls"
              },
              animationEnabled: true,
              axisY: {
                title: "No. of calls"
              },
              theme: "theme2",
              data: [
              {
                type: "column",
                dataPoints: data
              }
              ]
            });

            chart.render();
        } else {
            document.getElementById("chartContainer").innerHTML = "Please enter a scrip!";
        }
    }

        function populateHistoricalRatings() {
        //alert("Reached here");
        var expert_id = getParameterByName("exp_id");
        var scrip = getParameterByName("scrip");

        if (historicalRatings.length == 0) {
            $.ajax({
                type: "GET",
                url: "{% static 'stock/csvs/1 - 1.csv' %}",
                dataType: "text",
                success: function(data) {
                    var result = $.csv.toArrays(data);
                    result.splice(0, 1);
                    result.forEach(function(res) {
                         var tokens = res[0].split("\t");
                         if (tokens[1] == expert_id && tokens[4] == scrip){
                             date = getDate(tokens[2]);
                             rating = tokens[8];

                             historicalRatings.push({x:date, y:Number(rating)});
                         }
                    });
                    //historicalRatings.push();
                    drawHistoricalRatingChart();
                }
             });
        } else {
            drawHistoricalRatingChart();
        }
    }

        function getDate(value) {
        var tokens = value.split("/");
        return new Date(Number(tokens[2]), Number(tokens[1]), Number(tokens[0]));
    }

        function drawHistoricalRatingChart() {
        var chart = new CanvasJS.Chart("chartContainer",
                {
                  theme: "theme2",
                  title:{
                    text: "Historical Rating Chart"
                  },
                  animationEnabled: true,
                  axisX: {
		            xValueType: "dateTime",
                    interval: 1,
                    intervalType: "day"

                  },
                  axisY:{
                    includeZero: true

                  },
                  data: [
                  {
                    type: "scatter",
                    lineThickness: 2,
                    dataPoints: historicalRatings
                  }
                  ]
                });

            chart.render();
    }

        function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>

    <!-- Custom styles for this template -->
    <link href= "{% static 'stock/css/dashboard.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/style.css' %}" media="screen" />
  </head>

  <body onload = "fetchExpertNames();">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">SPARK Sentimeter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'today' %}">Find Out: What the expert's are saying?</a></li>
            <li><a href="{% url 'topg' %}">Top Gainers & Top Losers</a></li>
            <li><a href="{% url 'current' %}">Current Trend</a></li>
            <li><a href="{% url 'company_reviews' %}">Expert advice</a></li>
            <li><a href="{% url 'todays_comments' %}">Find what the experts are talking about !!</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <div class="row">
                    <div id="pieChart" class="pie"></div>

            </div>

            <span id="tableCaption" class="tableCaption"></span><br><br>
            <div id="expertTable"></div>
        </div>
      </div>
    </div>
  </body>
</html>
