.topBuys {
	position: absolute;
	top:100px;
	left: 350px;
}

.topSells {
	position: absolute;
	top:100px;
	left: 650px;
}

.topHolds {
	position: absolute;
	top:100px;
	left: 950px;
}

.tableCaption {
	font-weight: bold;
}

.searchScrip {
	position: absolute;
	top:350px;
	left: 650px;
}