<!DOCTYPE html>
<html>
  <head>
    <title>Create User</title>
  </head>
  <body>
    <h1>Create User</h1>

            <form action="{% url 'clientNewuser' %}" onsubmit="return validate()" enctype="multipart/form-data"
                method='post'>{% csrf_token %}

                <div class="btttn">
                    <p>Name</p><input type="text" placeholder="full name" name="name">
                    <p>Phone number</p><input type="number" placeholder="phone number" name="phonenumber">
                    <p>email</p><input type="email" placeholder="email" name="email">
                    <p>Password</p><input type="password" placeholder="password" name="password">
                    <button id="Register" type="submit">Register</button>
                </div>
            </form>
  </body>
</html>
