<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>{{ user.username }}'s Dashboard</h1>
    <h2>Portfolio</h2>
    <table>
      <tr>
        <th>Stock Symbol</th>
        <th>Number of Shares</th>
      </tr>
      {% for stock in stocks %}
        <tr>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.no_of_shares }}</td>

        </tr>
      {% endfor %}
    </table>
    <h2>Cash Balance: {{ userdeets.cash }}</h2>
    <h2>User Profit: {{ userdeets.profit }}</h2>
    <a href="{% url 'Stocks' %}">Trade Stocks</a>
    <a href="{% url 'History' %}">Trade History</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'edit_profile' %}">edit_profile</a>
    <a href="{% url 'change_password' %}">change_password</a>
    <a href="{% url 'viewUsers' %}">View Other Users</a>

  </body>
</html>
