<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script  type="text/javascript" src="{% static 'stock/js/typeahead.min.js' %}"></script>

  {% block heads %}

  {% endblock %}

    <!-- Custom styles for this template -->
    <link href= "{% static 'stock/css/dashboard.css' %}" rel="stylesheet">
  </head>
{% block content %}
    <h1 class="page-header">Top Gainers & Top Losers</h1>

<h2 class="sub-header" style="color: green">Top Gainers</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Open Price</th>
                    <th>Low Price</th>
                    <th>High Price</th>
                    <th>Closing Price</th>
                    <th>Net Price</th>
                    <th>Last Traded Price</th>
                    <th>Traded Quantity</th>
                    <th>Turnover in lakhs</th>
                    <th>Dividend per Share</th>
                </tr>
            </thead>

            <tbody>
                {% for row in gainers %}
                    <tr>
                        <td><a href=https://www.google.com/finance/getchart?q={{ row.symbol }} target="_blank">{{ row.symbol }}</a></td>
                        <td>{{ row.openPrice }}</td>
                        <td>{{ row.lowPrice }}</td>
                        <td>{{ row.highPrice }}</td>
                        <td>{{ row.previousPrice }}</td>
                        <td>{{ row.netPrice }}</td>
                        <td>{{ row.ltp }}</td>
                        <td>{{ row.tradedQuantity }}</td>
                        <td>{{ row.turnoverInLakhs }}</td>
                        <td>{{ row.lastCorpAnnouncement }}</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

<h2 class="sub-header" style="color: red">Top Losers</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Open Price</th>
                    <th>Low Price</th>
                    <th>High Price</th>
                    <th>Closing Price</th>
                    <th>Net Price</th>
                    <th>Last Traded Price</th>
                    <th>Traded Quantity</th>
                    <th>Turnover in lakhs</th>
                    <th>Dividend per Share</th>
                </tr>
            </thead>

            <tbody>
                {% for row in losers %}
                    <tr>
                        <td><a href=https://www.google.com/finance/getchart?q={{ row.symbol }} target="_blank">{{ row.symbol }}</a></td>
                        <td>{{ row.openPrice }}</td>
                        <td>{{ row.lowPrice }}</td>
                        <td>{{ row.highPrice }}</td>
                        <td>{{ row.previousPrice }}</td>
                        <td>{{ row.netPrice }}</td>
                        <td>{{ row.ltp }}</td>
                        <td>{{ row.tradedQuantity }}</td>
                        <td>{{ row.turnoverInLakhs }}</td>
                        <td>{{ row.lastCorpAnnouncement }}</td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
  {% endblock %}