<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon"
    href="https://thumbs.dreamstime.com/b/law-firm-lawyer-law-office-symbol-isolated-dark-background-simple-vector-logo-law-firm-lawyer-law-office-symbol-isolated-195469545.jpg">
  <title>LawyerStack</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  {% comment %}
  <link rel="stylesheet" href="{% static 'phone.css' %}" /> {% endcomment %}
</head>

<body>
    <h1>Paper Trading</h1>

        <a style="color:black" href="{% url 'login' %}">
            <div>
              <h1>Login</h1>
            </div>
        </a>

      </div>


</body>

</html>
</div>