* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v29_230 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_64 {
  width: 100%;
  height: 1045px;
  background: url("../images/v34_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_231 {
  width: 100%;
  height: 24px;
  background: rgba(242,156,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_232 {
  width: 100%;
  height: 79px;
  background: rgba(251,184,107,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 83px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v34_55 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 138px;
  left: 96px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_56 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 187px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_57 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 488px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_58 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 138px;
  left: 652px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_59 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 143px;
  left: 834px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_60 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 143px;
  left: 950px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_61 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 143px;
  left: 1112px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_63 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 1272px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
