* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v34_73 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_90 {
  width: 100%;
  height: 1028px;
  background: url("../images/v34_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_74 {
  width: 100%;
  height: 24px;
  background: rgba(242,156,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_75 {
  width: 56px;
  height: 420px;
  background: rgba(255,174,80,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 65px;
}
.v34_76 {
  width: 415px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 125px;
  left: 516px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v34_77 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v34_78 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_79 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 112px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_80 {
  width: 100%;
  height: 831px;
  background: rgba(246,198,142,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 66px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.v34_81 {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 219px;
  left: 648px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v34_82 {
  width: 100%;
  height: 646px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 190px;
  overflow: hidden;
}
.v34_83 {
  width: 100%;
  height: 646px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 190px;
  overflow: hidden;
}
.v34_84 {
  width: 567px;
  height: 59px;
  background: rgba(253,226,196,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 781px;
  overflow: hidden;
}
.v34_85 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 982px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v34_86 {
  width: 339px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 407px;
  left: 430px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v34_87 {
  width: 704px;
  height: 49px;
  background: rgba(255,244,229,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 365px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
