
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/be530bfcd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Login</title>

    <style>
       .button
{
    font-size: 13px;
    color:green;
}
      body{
       background-color: var(--eerie-black-2);
	color: var(--cadet-blue-crayola);
	font-size: 1.6rem;
	line-height: 1.4;
height: 100vh;
  width: 100vw;
      }
    </style>
  </head>
  <body style="background-color: hsl(223, 10%, 82%);">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home'  %}"><i class="fa-sharp fa-solid fa-arrow-trend-up"></i> Stockify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}" style="background-color: blue; border: 3px solid black; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; border-radius: 1rem; color: black; font-size: 15px;">Register</a>
      </li>

    </ul>

  </div>
		  </nav>
{% block content %}
<br>
<br>
<div class="container" style="background-color: rgba(255,255,255,0.4); box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%); padding: 30px; padding-bottom: 100px; border-radius: 50px;">
<h2 class ="text-center"> Login</h2><br>

<div class = "col-md-6 offset-md-3"> 
	<form method ="POST">
		
		{% csrf_token %}

	  <div class="form-group">

	    <input type="text" class="form-control" placeholder="Enter Username" name = "username">

	  </div>
	  <div class="form-group">

	    <input type="password" class="form-control"  placeholder="Enter Password" name="password"> 
	  </div>
	 
    <div class="center" style="margin: 0;
    position: absolute;
    top: 150%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
	  <div style="padding-top: 40px;" align="center">
			<button type="submit" class="btn btn-primary" style="color: black; background-color: blue">Login</button>
		  </div>
    </div>
	</form>
</div>

</div>

{% endblock %}
</body>