<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
  </head>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home'  %}">Stockify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

    </ul>

  </div>
		  </nav>
{% block content %}

<h2 class ="text-center"> Register </h2>

<div class = "col-md-6 offset-md-3"> 

<form method="POST" action="{% url 'register' %}">
		{% csrf_token %}

		{% if form.errors %}
		<div class="alert alert-danger alart-dismissable" role ="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                  </button>
               

               {% for field in form%}
               	{% if field.errors%}
               		{{field.errors}}
               	{% endif%}

               	{% endfor %}


              </div>



		{% endif %}


		{{ form.as_p }}


		<input type="submit" value="Register" class=" btn btn-secondary">
	</form>
</div>
{% endblock %}
