* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v35_135 {
  width: 100%;
  height: 1046px;
  background: url("../images/v35_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_247 {
  width: 100%;
  height: 957px;
  background: rgba(246,198,142,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.v29_248 {
  width: 100%;
  height: 847px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 58px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_250 {
  width: 100%;
  height: 595px;
  background: rgba(255,247,239,1);
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 104px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.v29_251 {
  width: 276px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 171px;
  overflow: hidden;
}
.v29_253 {
  width: 180px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 1082px;
  overflow: hidden;
}
.v29_252 {
  width: 379px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 671px;
  overflow: hidden;
}
.v29_254 {
  width: 500px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 171px;
  overflow: hidden;
}
.v29_256 {
  width: 500px;
  height: 106px;
  background: rgba(255,253,253,1);
  opacity: 1;
  position: absolute;
  top: 851px;
  left: 171px;
  overflow: hidden;
}
.v29_255 {
  width: 500px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 713px;
  overflow: hidden;
}
.v29_257 {
  width: 500px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 851px;
  left: 718px;
  overflow: hidden;
}
.v29_258 {
  width: 384px;
  height: 88px;
  background: rgba(253,226,196,1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 829px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v29_260 {
  width: 100%;
  height: 24px;
  background: rgba(242,156,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_261 {
  width: 100%;
  height: 957px;
  background: rgba(246,198,142,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.v29_262 {
  width: 100%;
  height: 847px;
  background: rgba(255,252,249,1);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 58px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_264 {
  width: 100%;
  height: 595px;
  background: rgba(255,247,239,1);
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 104px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.v29_265 {
  width: 276px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 494px;
  left: 171px;
  overflow: hidden;
}
.v29_266 {
  width: 180px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 494px;
  left: 1082px;
  overflow: hidden;
}
.v29_267 {
  width: 379px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 494px;
  left: 671px;
  overflow: hidden;
}
.v29_268 {
  width: 500px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 171px;
  overflow: hidden;
}
.v29_269 {
  width: 500px;
  height: 106px;
  background: rgba(255,253,253,1);
  opacity: 1;
  position: absolute;
  top: 879px;
  left: 171px;
  overflow: hidden;
}
.v29_270 {
  width: 500px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 713px;
  overflow: hidden;
}
.v29_271 {
  width: 500px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 879px;
  left: 718px;
  overflow: hidden;
}
.v29_272 {
  width: 384px;
  height: 88px;
  background: rgba(253,226,196,1);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 829px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
